# Patrick Callahan and Danny Bowers: Homework #1

# Q1.

### Write a Python program to read specific columns (LatD,LonD and City) and (LatM,LonM and State) of a CSV file (cities.csv) and print the content of the columns. Also print the 'type' of data in each of the columns  [5 points]

In [80]:
import pandas as pd
#-->Because many of the titles were different as some had quotations and some did not, what I did was add a row 
#   and call it 'column_names'. What this did was it allowed me to skiprows = [0] and ultimately make it easier for 
#   me to recognize the column names. 
column_names = ['LatD', 'LatM', 'LatS', 'NS', 'LonD', 'LonM', 'LonS', 'EW', 'City', 'State']
data_set = pd.read_csv('cities.csv', names = column_names, skiprows = [0])
#-->To show that the read of the cities.csv filed worked successfully, I printed the data_set below: 
data_set

     LatD  LatM  LatS    NS  LonD  LonM  LonS    EW                City State
0      41     5    59   "N"    80    39     0   "W"        "Youngstown"    OH
1      42    52    48   "N"    97    23    23   "W"           "Yankton"    SD
2      46    35    59   "N"   120    30    36   "W"            "Yakima"    WA
3      42    16    12   "N"    71    48     0   "W"         "Worcester"    MA
4      43    37    48   "N"    89    46    11   "W"   "Wisconsin Dells"    WI
..    ...   ...   ...   ...   ...   ...   ...   ...                 ...   ...
123    39    31    12   "N"   119    48    35   "W"              "Reno"    NV
124    50    25    11   "N"   104    39     0   "W"            "Regina"    SA
125    40    10    48   "N"   122    14    23   "W"         "Red Bluff"    CA
126    40    19    48   "N"    75    55    48   "W"           "Reading"    PA
127    41     9    35   "N"    81    14    23   "W"           "Ravenna"   OH

[128 rows x 10 columns]

In [79]:
#-->After spending much time reading through the documentation of pandas, I was able to find a way to parse the data 
#   in a way where I selected only the certain columns that were asked for in the problem. I used the .loc function
#   because on the documentation it was the best option I could find. 
new_data_set = data_set.loc[:,['LatD','LonD','City','LatM','LonM','State']]
new_data_set

     LatD  LonD                City  LatM  LonM State
0      41    80        "Youngstown"     5    39    OH
1      42    97           "Yankton"    52    23    SD
2      46   120            "Yakima"    35    30    WA
3      42    71         "Worcester"    16    48    MA
4      43    89   "Wisconsin Dells"    37    46    WI
..    ...   ...                 ...   ...   ...   ...
123    39   119              "Reno"    31    48    NV
124    50   104            "Regina"    25    39    SA
125    40   122         "Red Bluff"    10    14    CA
126    40    75           "Reading"    19    55    PA
127    41    81           "Ravenna"     9    14   OH

[128 rows x 6 columns]

In [88]:
#--> Finally, I created a for loop for the parsed data set that reads the data in every row for every column and 
#   outputs the type of data. At the end, it reads the name of the column, the length of rows, and the dtype for the 
#   column. 
for x in new_data_set: 
    print("Column: ", x)
    print(new_data_set[x].apply(type)) #The .apply(type) function I found in the documentation for Pandas. 
    print("________________________________")

Column:  LatD
0      <class 'int'>
1      <class 'int'>
2      <class 'int'>
3      <class 'int'>
4      <class 'int'>
           ...
123    <class 'int'>
124    <class 'int'>
125    <class 'int'>
126    <class 'int'>
127    <class 'int'>
Name: LatD, Length: 128, dtype: object
________________________________
Column:  LonD
0      <class 'int'>
1      <class 'int'>
2      <class 'int'>
3      <class 'int'>
4      <class 'int'>
           ...
123    <class 'int'>
124    <class 'int'>
125    <class 'int'>
126    <class 'int'>
127    <class 'int'>
Name: LonD, Length: 128, dtype: object
________________________________
Column:  City
0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
123    <class 'str'>
124    <class 'str'>
125    <class 'str'>
126    <class 'str'>
127    <class 'str'>
Name: City, Length: 128, dtype: object
________________________________
Column:  LatM
0      <class 'int'>
1      <class 'int'>
2      <class 'int'>
3      <class 'int'>
4      <class 'int'>
           ...
123    <class 'int'>
124    <class 'int'>
125    <class 'int'>
126    <class 'int'>
127    <class 'int'>
Name: LatM, Length: 128, dtype: object
________________________________
Column:  LonM
0      <class 'int'>
1      <class 'int'>
2      <class 'int'>
3      <class 'int'>
4      <class 'int'>
           ...
123    <class 'int'>
124    <class 'int'>
125    <class 'int'>
126    <class 'int'>
127    <class 'int'>
Name: LonM, Length: 128, dtype: object
________________________________
Column:  State
0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
           ...
123    <class 'str'>
124    <class 'str'>
125    <class 'str'>
126    <class 'str'>
127    <class 'str'>
Name: State, Length: 128, dtype: object
________________________________

-------------------------------------------------------------------------------------------------------------------

# Q2.

### Write a Python program to write a Python list of lists (list_of_list.pkl ) to a csv file. After writing the CSV file, read the CSV file and display the content. [10 points]

In [99]:
import pickle
#--> I started by using the hint that Professor Ghosh had given us for reading the .pkl file. 
with open("list_of_list.pkl", "rb") as fp:   

   b = pickle.load(fp)
#
#--> After I had the data stucture of list-of-lists, I had to convert it into a structure that Pandas would allow me
#   to write into a CSV. After looking at the documentation of possible ways to do this, I found that the most 
#   suitable and possible solution was to convert the l-o-l into a dataframe structure, as done in the following statement. 
data_set = pd.DataFrame(b)

In [101]:
#--> Finally, I wanted to write the DataFrame to a .csv file, and the statement to do that is below. 
data_set.to_csv("q2.csv")

In [114]:
#--> Lastly, I followed the steps necessary to read from a .csv file as we followed in Q1. Again, I named the columns
#   based on what their original column name was and organized the data into a clean .csv file below. 
col_names = ['Competitor Name', 'Chocolate', 'Fruity', 'Caramel', 'Peanuty-Almondy', 'Nougat', 'Crisped Rice Wafer', 
             'Hard', 'Bar', 'Pluribus', 'Sugar Percent', 'Price Percent', 'Win Percent']
read_data_set = pd.read_csv("q2.csv", index_col=0, names = col_names, skiprows=[0,1])

In [115]:
read_data_set

,Competitor Name,Chocolate,Fruity,Caramel,Peanuty-Almondy,Nougat,Crisped Rice Wafer,Hard,Bar,Pluribus,Sugar Percent,Price Percent,Win Percent
1,Mr Good Bar,y,n,n,y,n,n,n,y,n,0.313,0.918,54.526451
2,Chewey Lemonhead Fruit Mix,n,y,n,n,n,n,n,n,y,0.732,0.511,36.017628
3,Starburst,n,y,n,n,n,n,n,n,y,0.151,0.220,67.037628
4,Gobstopper,n,y,n,n,n,n,y,n,y,0.906,0.453,46.783348
5,Haribo Gold Bears,n,y,n,n,n,n,n,n,y,0.465,0.465,57.119740
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Caramel Apple Pops,n,y,y,n,n,n,n,n,n,0.604,0.325,34.517681
82,Fun Dip,n,y,n,n,n,n,y,n,n,0.732,0.325,39.185505
83,Runts,n,y,n,n,n,n,y,n,y,0.872,0.279,42.849144
84,Dots,n,y,n,n,n,n,n,n,y,0.732,0.511,42.272076
85,Snickers,y,n,y,y,y,n,n,y,n,0.546,0.651,76.673782

---------------------------------------------------------------------------------------------------------------------

# Q3

### Write a Python program that matches a word containing 'z', not at the start or end of the word. [5 points]

In [114]:
def check_for_z(input_word):
    flag = False
    for i in range(1, len(input_word)-1):
        if input_word[i] == 'z':
            flag = True
            return flag
    return flag

given_string = str(input("Enter an string: "))
check_for_z(given_string)

Enter an string: test

False

----------------------------------------------------------------------------------------------------------------------

# Q4

### Write a Python program to print the number and sum of prime numbers which are less than or equal to a given integer. [5 points]

In [85]:
import random
given_integer = int(input("Enter an integer (0-999): "))

Enter an integer (0-999): 199

In [86]:
def check_Prime(inputed_):
    flag = True
    if inputed_ > 1:
        # check for factors
        for i in range(2, inputed_):
            if (inputed_ % i) == 0:
                # if factor is found, set flag to True
                flag = False
                # break out of loop
                break
    return flag
# check if flag is True
if flag:
    print("Not Prime")
else:
    print(" prime number")

 prime number

In [87]:
random_one = random.randint(1,given_integer)
while check_Prime(random_one) != True:
    random_one = random.randint(1,given_integer)

difference = given_integer - random_one

random_two = random.randint(1,difference)
while check_Prime(random_two) != True:
    random_two = random.randint(1,difference)

print("Input value: ", given_integer)
print()
print("Prime number #1: ", random_one)
print()
print("Prime number #2: ", random_two)
print()
sum_prime = random_one + random_two
print("Sum of prime numbers: ", sum_prime)

Input value:  199

Prime number #1:  197

Prime number #2:  1

Sum of prime numbers:  198

----------------------------------------------------------------------------------------------------------------------

# Q5

### Write a Python program to find the largest product of the pair of adjacent elements from a given list of integers. [5 points]

In [107]:
list_one = [40, 20, 23, 12, 8]
list_two = [13, 19, 18, 50, 82]

max_product = 0
test_product = 0

def product_hold(in_list1, in_list2, i): 
    product = in_list1[i]*in_list2[i]
    return product

max_product = product_hold(list_one,list_two,0)

for y in range(len(list_one)):
    test_product = product_hold(list_one,list_two,y)
    print("The product of ",list_one[y]," and ",list_two[y]," is: ", test_product)
    if test_product > max_product:
        max_product = test_product
print()
print("The maximum product of adjacent elements is: ")      
print(max_product)

The product of  40  and  13  is:  520
The product of  20  and  19  is:  380
The product of  23  and  18  is:  414
The product of  12  and  50  is:  600
The product of  8  and  82  is:  656

The maximum product of adjacent elements is:
656

----------------------------------------------------------------------------------------------------------------------

# Q6.

### Write a Python program to convert a Python dictionary object (sort by key) to JSON data.  [5 points]

In [115]:
import json
input_dict={'bravo': 2, 'alpha':1, 'charlie': 3}

ans = json.dumps(input_dict, sort_keys=True, indent=2)

print(ans)

{
  "alpha": 1,
  "bravo": 2,
  "charlie": 3
}

----------------------------------------------------------------------------------------------------------------------

# Q7

### Q7. Given a password, we have to categorize it as valid or invalid. There are some checks that need to be met to be a valid password. For a invalid password, we need to return the reason for it to be invalid. [10 points]

### Conditions for a valid password are:
### 1: Should have at least one number. 
### 2: Should have at least one uppercase and one lowercase character. 
### 3: Should have at least one special symbol. 
### 4: Should be between 6 to 20 characters long.

In [31]:
def checkNumber(string_):
    flag = False
    integer_set = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
    for value in string_:
        for num in integer_set: 
            if value == num: 
                flag = True
                break
        if flag == True: 
            break
    if flag == False: 
        print("The password needs at least one number!")
    return flag

def checkCase(string_): 
    flag1 = False
    flag2 = False
    for upper in string_:
        if upper.isupper() == True: 
            flag1 = True
            break
    for lower in string_: 
        if lower.islower() == True: 
            flag2 = True
            break
    if flag1 == True:
        if flag2 == True: 
            return True
        else: 
            print("The password needs at least one lower case letter!")
            return False
    else: 
        print("The password needs at least one upper case letter!")
        return False
    
def checkSpecialCharacter(string_):
    flag = False
    special_set = [" ", "!", "#", "@", "$", "%", "^", "&", "*", "(", ")", "-", "+", "=", "<", ">", "?", ".", "~"]
    for value in string_:
        for num in special_set: 
            if value == num: 
                flag = True
                break
        if flag == True: 
            break
    if flag == False: 
        print("The password needs at least one special character!")
    return flag

def checkLength(string_):
    flag = True
    length_ = len(string_)
    if length_ < 6: 
        print("The password must be at least 6 characters!")
        flag = False
    elif length_ > 20:
        print("The password must be less than 20 characters!")
        flag = False
    return flag
       
string_1 = input("Please set your password: ")

number_ = checkNumber(string_1)
case_ = checkCase(string_1)
special_ = checkSpecialCharacter(string_1)
len_ = checkLength(string_1)

if number_ == True & case_ == True & special_ == True & len_ == True: 
    print("The password follows all the critera!")

Please set your password: Password
The password needs at least one number!
The password needs at least one special character!

----------------------------------------------------------------------------------------------------------------------

# Q8

 ### Given a password, we have to categorize it as a strong or weak one. There are some checks that need to be met to be a strong password. For a weak password, we need to return the reason for it to be weak. [10 points]

### Conditions to be fulfilled for strong password are:
### 1: Minimum 9 characters and maximum 20 characters.
### 2: Cannot be a newline or a space
### 3: There should not be three or more repeating characters in a row.
### 4: The same string pattern(minimum of two character length) should not be repeated.

In [111]:
import re

#function to ensure the minimum of 9 characters and the maximum of 20 characters
def checkLength(string_):
    flag = True
    length_ = len(string_)
    if length_ < 9: 
        print("The password must be at least 9 characters to be considered strong!")
        flag = False
    elif length_ > 20:
        print("The password must be less than 20 characters to be considered strong!")
        flag = False
    return flag

#function to check whether the string has spaces or a new line is created
def checkLineSpace(string_): 
    flag = True
    for check in string_: 
        if check == " ":
            print("The password is considered weak because there is a space!")
            flag = False
            break
        elif check == "\n":
            print("The password is considered weak because there is a new line!")
            flag = False
            break
    return flag

#funciton that checks using regular expressions whether there is a repetition of 3 or more characters
def checkRepeating(string_):
    if re.search(r'(.)\1\1', string_):
        print('Your password contains contains characters that are repeated 3 or more times!')
        return False
    else:
        return True

#functions that ensure that there is no pattern of two or more characters repeated in the function. 
def checkPattern(string_):
    tempList=[]
    for i in range(len(string_)):
        tempList.append(string_[:i])
    for i in tempList[:1:-1]:
        if string_.count(i) > 1 :
            change = string_[len(i):].find(i)
            #There's been a repetition in pattern that is greater than two
            print("There is a repetition in pattern of the password")
            return False
            break
    return True
    
    
print("Password rules: ")
print("1: Minimum 9 characters and maximum 20 characters.")
print("2: Cannot be a newline or a space")
print("3: There should not be three or more repeating characters in a row.")
print("4: The same string pattern(minimum of two character length) should not be repeated.")
test_str = str(input("Enter in your desired password: "))
print()
length_ = checkLength(test_str)
new_or_space = checkLineSpace(test_str)
repeating = checkRepeating(test_str)
pattern = checkPattern(test_str)

if length_ == True & new_or_space == True & repeating == True & pattern == True: 
    
    print("The password follows all the critera!")

Password rules:
1: Minimum 9 characters and maximum 20 characters.
2: Cannot be a newline or a space
3: There should not be three or more repeating characters in a row.
4: The same string pattern(minimum of two character length) should not be repeated.
Enter in your desired password:

The password must be at least 9 characters to be considered strong!
True

----------------------------------------------------------------------------------------------------------------------

# Q9

### You are given a text file containing a string of words and you need to write a function to find words with a certain number of characters in the given text file. The length of the word will be the parameter of the function and will be given by the user. Remove duplicate words from the final list. [HINT - Take a look at split(), lower(), open() and input() functions in python]

In [8]:
#This opening statement opens the .txt file, reads the file, and splits the text file by word and puts the values into
#a new list. 
with open("Data Science.txt",'r') as text_file:
     new_list = text_file.read().split()

# Printed the new list to test and check to make sure the .txt file was read correctly
print(new_list)
print()


list_ = []
# Created a function for checking the length with the parameter of the length of the word. 
def checkLength(inputValue): 
    #For each word in the .txt file, check to see if the desired word length is the length of the word in the file. 
    for word in new_list: 
        #if it is the length, put that word into a new list as a place holder. 
        if inputValue == len(word):
            list_.append(word)   
    return list_

#Now we ask the user a desired number for the length of words in the file
inputNumber = int(input("Enter a number for length of word: "))
#Here we run the function
checkLength(inputNumber)

final_list = []
#Finally, we want to check for duplicates. We check by initially making all the words lowercase with the .lower() function
#Next, we check to see that the word is not in the final list using the "not in" statement. 
#If the word in the list is not in the final list, append it to the final list. 
for word in list_: 
    word = word.lower()
    if word not in final_list:
        final_list.append(word)

#Finally, print the column of words with the desired amount of letters. 
print()
print("These are the words with ", inputNumber, " letters: ")
for word in final_list: 
    print(word)

['Data', 'science', 'is', 'an', 'interdisciplinary', 'field', 'that', 'uses', 'scientific', 'methods,', 'processes,', 'algorithms', 'and', 'systems', 'to', 'extract', 'knowledge', 'and', 'insights', 'from', 'many', 'structural', 'and', 'unstructured', 'data.', 'Data', 'science', 'is', 'related', 'to', 'data', 'mining,', 'machine', 'learning', 'and', 'big', 'data.', 'Data', 'science', 'is', 'a', 'concept', 'to', 'unify', 'statistics,', 'data', 'analysis', 'and', 'their', 'related', 'methods', 'in', 'order', 'to', '"understand', 'and', 'analyze', 'actual', 'phenomena"', 'with', 'data.', 'It', 'uses', 'techniques', 'and', 'theories', 'drawn', 'from', 'many', 'fields', 'within', 'the', 'context', 'of', 'mathematics,', 'statistics,', 'computer', 'science,', 'domain', 'knowledge', 'and', 'information', 'science.', 'Turing', 'award', 'winner', 'Jim', 'Gray', 'imagined', 'data', 'science', 'as', 'a', '"fourth', 'paradigm"', 'of', 'science', '(empirical,', 'theoretical,', 'computational', 'and', 'now', 'data-driven)', 'and', 'asserted', 'that', '"everything', 'about', 'science', 'is', 'changing', 'because', 'of', 'the', 'impact', 'of', 'information', 'technology"', 'and', 'the', 'data', 'deluge.']

Enter a number for length of word: 4

These are the words with  4  letters:
data
that
uses
from
many
with
gray